.inner{
  width: 1700px;
  margin: auto;
}
.HeaderTop{
  display: flex; justify-content: space-between;
  align-items: center;
}
.HeaderTop .logo{
  background: url(../images/logo.png);
  width: 314px;
  height: 58px;
  display: inline-block;
}
form input{
  width: 400px;
  border: none;
  border-bottom: 1px solid  #000;
  padding: 0.8rem 0.2rem;
}
form i{
  position: relative;
  right:1.5rem;
  top: 0;
  cursor: pointer;
  color: rgb(115, 115, 115);
}
input::placeholder{
  font-family: 'Pretendard';
  font-size: 0.9rem;
}

.HeaderTop .snb ul{
  display: flex;
}
.HeaderTop .snb ul li:first-child{
  border-right: 1px solid rgb(115, 115, 115);
  padding-right: 1rem;
}
.HeaderTop .snb ul li{
  margin: 0 0.5rem; cursor: pointer;

}
.HeaderTop .snb ul li a{
  position: relative;

}
.HeaderTop .snb ul li a.active::after{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 8px;
    bottom: -10px;
    position: absolute;
    left: 50%;
    background-color: rgb(31, 31, 31);
    transform: translateX(-50%);
}
.gnb{
  padding: 2rem;
}
.gnb a{
  color: #aaa;
  font-size: 1.2rem;
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
  font-weight: 300;
}
/* active클래스 추가 */
.gnb a.active{color:#000; font-weight: 500;}
.gnb a.active::after{
  position: absolute;
  content: '.';
  font-size: 1.8rem;
  left: 50%;
  bottom:-1rem;
  transform: translateX(-50%);
}